@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 mt-4">Welcome to Cat Name Chooser!</h1>
    <h2 class="display-6 text-primary">Hope you enjoy it and choose the purrfect name for your cat!!!</h2>
    <h2 class="text-primary-emphasis">UwU</h2>
    <h3 class="col-12 mt-5">...</h3>
    <div class="row">
        <div class="col-12 mt-5">
            <button class="btn btn-primary btn-lg">Generate</button>
        </div>
        @* <div class="col-6 col-md-3">
            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border form-control">
                Back to List
            </a>
        </div> *@
    </div>
</div>
