<div class="text-center">
    <h1 class="display-4 mt-4">Welcome to Cat Name Chooser!</h1>
    <h2 class="display-6 text-primary">Hope you enjoy it and choose the purrfect name for your cat!!!</h2>
    <h2 class="text-primary-emphasis">UwU</h2>
    <h3 class="col-12 mt-5">@(TempData["CatName"] == null ? "..." : TempData["CatName"])</h3>
    <div class="row"> 
        <div class="col-12 mt-5">
            <form method="get">
                <button asp-controller="Home" asp-action="Generate" class="btn btn-primary btn-lg">Generate</button>
            </form>
        </div>
    </div>
</div>
